<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nirvan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">Nirvan</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto active" href="#about">About</a></li>
            <li><a class="nav-link scrollto active" href="#services">Examine</a></li>
            <li><a class="nav-link scrollto active" href="#portfolio">Portfolio</a></li>
            <li><a class="nav-link scrollto active" href="#team">Team</a></li>
            <li><a class="nav-link scrollto active" href="#contact">Contact us</a></li>
          </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('img/slide/1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate_animated animate_fadeInDown">Welcome to <span> Nirvan Project</span></h2>
                <p class="animate_animated animate_fadeInUp">"Often the people forget that mind is also a part of the body and it's health is as integral as any other part." This is our little initative to get it what it deserves. A little care!</p>
                <a href="welcome" class="btn-get-started animate_animated animate_fadeInUp scrollto"> Log IN</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('img/slide/2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate_animated animate_fadeInDown">To speak up is the hardest part. We know better and hence we have this perfect platform for you.</h2>
                <p class="animate_animated animate_fadeInUp">Does it mean something is wrong? Absolutely wrong. What if it's normal as any other life's predicament??</p>
                <a href="welcome" class="btn-get-started animate_animated animate_fadeInUp scrollto">Register</a>
              </div>
            </div>  
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('img/slide/3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate_animated animate_fadeInDown">We are one touch away</h2>
                <p class="animate_animated animate_fadeInUp">What will happen if this is made easier through a few clicks? Want to know more?? Read more about us and our agenda.</p>
                <a href="#about" class="btn-get-started animate_animated animate_fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row no-gutters">
              <div class="col-lg-6 video-box">
                <img src="img/mh.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=zkxQAbpbzJ0&t=208s" class="venobox play-btn mb-4"
                  data-vbtype="video" data-autoplay="true"></a>
              </div>
    
              <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
    
                <div class="section-title">
                  <h2>About Us</h2>
                  <p>With COVID-19, we’ve made it to the life raft. Dry land is far away.. Being mentally healthy in this
                    pandemic is tough right?</p>
                </div>
    
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-fingerprint"></i></div>
                  <h4 class="title"><a href="edu"> believe in having faith in ourself, and never losing hope.</a></h4>
                  <p class="description">There is hope, even when your brain tells you there isn’t.</p>
                </div>
    
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-gift"></i></div>
                  <h4 class="title"><a href="tricks">We believe that every negative factor of our life can be tackled just
                      by having a positive approach.</a></h4>
                  <p class="description">What mental health needs is more sunlight, more candor, and more unashamed
                    conversations. </p>
                </div>
    
              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->
    <!-- ======= About Lists Section ======= -->
    <!-- ======= About Lists Section ======= -->
    <section class="about-lists">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <span>01</span>
            <h4><a href="test">Take the Test </a></h4>
            <p>Take the Test</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>02</span>
            <h4>Check your Mental Health</h4>
            <p>If the results show that you need help, don't worry, we are there to help you out</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>03</span>
            <h4><a href="welcome">Book an Appointment </a></h4>
            <p>Book an Appointment Now</p>
          </div>
<!--
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>04</span>
            <h4>Repellendus molestiae</h4>
            <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
            <span>05</span>
            <h4>Sapiente Magnam</h4>
            <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
            <span>06</span>
            <h4>Facilis Impedit</h4>
            <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
          </div>-->

        </div>

      </div>
    </section><!-- End About Lists Section -->

    <!-- ======= Counts Section ======= --
    <section class="counts section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-simple-smile" style="color: #20b38e;"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-document-folder" style="color: #c042ff;"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
            <div class="count-box">
              <i class="bi bi-live-support" style="color: #46d1ff;"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
            <div class="count-box">
              <i class="bi bi-users-alt-5" style="color: #ffb459;"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-chat-left-dots"></i></div>
        <h4 class="title"><a href="">zoom</a></h4>
        <p class="description">Today is a gift hence it's called Present</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-bounding-box"></i></div>
        <h4 class="title"><a href="">Just Yoga</a></h4>
        <p class="description">Shawasana- Just sleep </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-globe"></i></div>
        <h4 class="title"><a href="">Article Maybe</a></h4>
        <p class="description">Medium article links </p>
      </div>
    <!-- ======= Services Section ======= 
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-chat-left-dots"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-bounding-box"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-globe"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-broadcast"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar2-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
  </div></div>
    <!-- ======= Our Portfolio Section ======= -->
    
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>Our Portfolio</h2>
          <p>To the services mentioned above, we have helped you out by picking some relaxing pieces for you. Let's rejuvante you with a dash of fun and bring a big smile to your face!! </p>
        </div>
      <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Just Yoga</h4>
                <p>Here's a challenge for you</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Article time</h4>
                <p>Medium article on practical approach</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>Developing this project was an amazing journey. It wouldn't be possible without our sheer dedicated team.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="pic"><img src="img/team/bansi_photo.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Bansi Shelke</h4>
                <span>Content and Backend Developer</span>
                <div class="social">
                 
                  <a href="https://github.com/bansi-123"><i class="bi bi-github"></i></a> <!--for now ig is github-->
                  <a href="https://www.linkedin.com/in/bansi-shelke-6282971b2"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="img/team/3.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sunand Goel</h4>
                <span>Back End Developer</span>
                <div class="social">
                  
                  <a href="https://github.com/sunandgoel"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/sunand-goel"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Nidhi Kowtal</h4>
                <span>Content and Front End Developer</span>
                <div class="social">
                  
                  <a href="https://github.com/nidhikowtal"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/nidhikowtal/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="img/team/uttu.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Utkarsh Magar</h4>
                <span>Front End Developer</span>
                <div class="social">
                  
                  <a href="https://github.com/utkarshmagar"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/utkarshmagar/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Pune Institute of Computer Technology, Dhankawadi, Pune</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3><a class= " mail" href = "mailto:goel.sunand@gmail.com" >Email Us</a></h3>
              <p>apnaproject.com<br>mentalhealth@gmail.com</p>
            </div>
          </div>


          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3><a class="call" href="tel:9373168172"><div class="i">Call Us</h3></a>
              8411960480</div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->
  
</body>

</html>
<%- include('partials/footer.ejs'); -%>