<%- include('partials/header.ejs'); -%>
<br>
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="section-title">
        <h2>Our Mentors</h2>
        <p>Here are our college mentors who will help you throughout the process.</p>
      </div>
      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Quote</h4>
              <p>Quote</p>
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                  class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="mailto:bansi@gmail.com?cc=apnaproject@gmail.com&subject=Booking%20an%20appointment%20through%20the%20Nirvan%20App
                  &body=Dear%20Sir,%0D%0AI%20am%20contacting%20you%20through%20the%20Nirvan%20App.%20Choosing%20you%20as%20my%20Mentor/Consultant%20I%20would%20appreaciate%20if%20you%20could%20convey%20to%20me%20a%20slot%20for%20our%20appointment.%0D%0AWith Regards,%0D%0A<%= name %>">
                  <i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quote</h4>
                <p>Quote</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="Computer Department"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Name</h4>
              <p>Name</p>
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                  class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="ENTC Department"><i class="bi bi-plus"></i></a>
                  <a href="https://www.youtube.com/watch?v=ADOvvWVwjW0" title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Name</h4>
              <p>Name</p>
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                  class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                  title="link"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name</h4>
                <p>Name</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery"
                    class="portfolio-lightbox" title="IT Department"><i class="bi bi-plus"></i></a>
                  <a href="https://medium.com/curious/5-ways-to-make-grounding-work-for-an-overactive-mind-44c80e68b43"
                    title="link"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>


<br>

<%- include('partials/footer.ejs'); -%>
